{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        {% for i in movie_list %}
            <div class="col-md-4">
                <div class="card" style="width:18rem;height:30rem;margin-top:20px;margin-bottom:20px;">
                    <img src="{{i.img.url}}" class="card-img-top" alt="..." width="250px;" height="250px;">
                    <div class="card-body">
                        <h5 class="card-title">{{i.name}}</h5>
                        <h6 class="card-text">{{i.desc}}</h6>
                        <a href="{% url 'movieapp1:details' i.id %}" class="btn btn-primary">More Details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}}